body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Open Sans", sans-serif;
     background-color: #b2d2ff;
}
.navbar {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #76a6e9;

}
.navbar a {
    color: white;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: solid 1px white;
}
.home-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 862px;
    image-rendering: crisp-edges;
}
   .dropdown {
    position: relative;
    display: inline-block;
    }

    .dropbtn {
    background-color: rgb(122, 122, 122);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border-radius: 0.5rem;
    cursor: pointer; 
    border: solid 1px white;
    }
    .dropdown-content {
    display: none; 
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    .dropdown-content a:hover {background-color: #f1f1f1;}
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .dropbtn {background-color: rgb(186, 186, 186);} 
    div.logo {
        flex-basis: 10%;
    }
    div.menu {
        display: flex;
        flex-basis: 90%;
        justify-content: center;
    }
    .dropdown {
        transform: translateX(-50%);
    }
.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}
.account {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.submit {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.textinput {
    width: 50%;
   height:200%;
    margin-left: auto;
}
.text-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -25%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.petinfo {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.reschedule-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#new-date {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#new-time {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.map-container {
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
}
.map-container iframe {
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 10px;
}
.text-overlay h2, .text-overlay p {
    margin: 0;
    text-align: center;
}
.text-overlay input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.text-overlay button {
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.text-overlay a {
    text-decoration: none;
}
.text-overlay a:hover {
    text-decoration: underline;
}
.back {
    display: inline-block;
    transform: translate(10%, -500%);
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #878787;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.button {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #a8a8a8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}